<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <component-fixture>

      <VueLikeDislikeButtons />

      <Editor slot="control" slot-scope="scope" v-bind="scope"/>

    </component-fixture>
  </div>
</template>

<script>
import { ComponentFixture, Editor } from 'component-fixture'
import "component-fixture/dist/ComponentFixture.css";
import VueLikeDislikeButtons from '@/components/VueLikeDislikeButtons.vue'

export default {
  name: 'app',
  components: {
    ComponentFixture,
    Editor,
    VueLikeDislikeButtons
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
