<template>
  <div class="like-dislike-buttons">
    <a
      class="like-dislike-buttons__btn"
      href="#"
      :class="{ 'is-checked': likeChecked }"
      @click.prevent="$emit('like')"
    >
      <thumb-up-icon class="like-dislike-buttons__icon" :title="likeTitle" />
      <small class="like-dislike-buttons__count" :title="likes">{{
        computeNumber(likes)
      }}</small>
    </a>
    <a
      class="like-dislike-buttons__btn"
      href="#"
      :class="{ 'is-checked': dislikeChecked }"
      @click.prevent="$emit('dislike')"
    >
      <thumb-down-icon
        class="like-dislike-buttons__icon"
        :title="dislikeTitle"
      />
      <small class="like-dislike-buttons__count" :title="dislikes">{{
        computeNumber(dislikes)
      }}</small>
    </a>
  </div>
</template>

<script>
import ThumbUpIcon from "vue-material-design-icons/ThumbUp.vue";
import ThumbDownIcon from "vue-material-design-icons/ThumbDown.vue";
export default {
  name: "LikeDislikeButtons",
  components: {
    ThumbUpIcon,
    ThumbDownIcon
  },
  props: {
    likes: { type: Number, default: 0 },
    dislikes: { type: Number, default: 0 },
    likeChecked: { type: Boolean, default: false },
    dislikeChecked: { type: Boolean, default: false }
  },
  computed: {
    likeTitle() {
      return this.likeChecked ? 'Eliminar "me gusta"' : 'Dar "Me gusta"';
    },
    dislikeTitle() {
      return this.dislikeChecked
        ? 'Eliminar "no me gusta"'
        : 'Dar "No me gusta"';
    }
  },
  methods: {
    computeNumber(value) {
      if (value > 99999) {
        let number = value;
        number = (number - (number % 100000)) / 100000 / 10;
        return number + " M";
      } else if (value > 999 && value < 99999) {
        let number = value;
        number = (number - (number % 1000)) / 1000;
        return number + " MIL";
      } else {
        return value;
      }
    }
  }
};
</script>

<style lang="scss">
.like-dislike-buttons {
  color: #a7a7a7;
  display: inline-block;
}

.like-dislike-buttons__btn {
  color: currentColor;
  display: inline-block;
  padding: 0.125rem 0.25rem;
  text-align: center;

  &:hover,
  &:focus {
    color: darken(#a7a7a7, 30%);
  }

  &.is-checked {
    color: cornflowerblue;
  }
}

.like-dislike-buttons__icon,
.like-dislike-buttons__count {
  display: inline-flex;
  padding: {
    right: 0.25rem;
    left: 0.25rem;
  }
  vertical-align: middle;
}
</style>
