<template>
  <div class="like-dislike-buttons">
    <a
      class="like-dislike-buttons__btn"
      href="#"
      :class="{ 'is-checked': likeChecked }"
      :disabled="isDisabled"
      @click.prevent="$emit('like')"
    >
      <thumb-up-icon class="like-dislike-buttons__icon icon-2x" :title="likeBtnTitle" />
      <small class="like-dislike-buttons__count" :title="likes">{{
        computeNumber(likes)
      }}</small>
    </a>
    <a
      class="like-dislike-buttons__btn"
      href="#"
      :class="{ 'is-checked': dislikeChecked }"
      :disabled="isDisabled"
      v-if="!onlyLike"
      @click.prevent="$emit('dislike')"
    >
      <thumb-down-icon
        class="like-dislike-buttons__icon icon-2x"
        :title="dislikeBtnTitle"
      />
      <small class="like-dislike-buttons__count" :title="dislikes">{{
        computeNumber(dislikes)
      }}</small>
    </a>
  </div>
</template>

<script>
import ThumbUpIcon from "vue-material-design-icons/ThumbUp.vue";
import ThumbDownIcon from "vue-material-design-icons/ThumbDown.vue";
export default {
  name: "LikeDislikeButtons",
  components: {
    ThumbUpIcon,
    ThumbDownIcon
  },
  props: {
    dislikeBtnTitle: { type: String, default: 'I don\'t like it'},
    dislikeChecked: { type: Boolean, default: false },
    dislikes: { type: Number, default: 0 },
    isDisabled: { type: Boolean, default: false },
    likeBtnTitle: { type: String, default: 'I like it'},
    likeChecked: { type: Boolean, default: false },
    likes: { type: Number, default: 0 },
    millionsAbbreviation: { type: String, default: 'M'},
    onlyLike: { type: Boolean, default: false },
    thousandsAbbreviation: { type: String, default: 'K'}
  },
  methods: {
    computeNumber(value) {
      if (value > 99999) {
        return ((value - (value % 100000)) / 100000 / 10) + ` ${this.millionsAbbreviation}`;
      } else if (value > 999 && value < 100000) {
        return ((value - (value % 1000)) / 1000) + ` ${this.thousandsAbbreviation}`;
      } else {
        return value;
      }
    }
  }
};
</script>
